.bg {
    position: relative;
    z-index: 0;
    padding: 0px 0 -50px 0;
    min-height: 100vh;
    text-align: left;
    background-image: url('./../../../assets/contact.jpg');
    background-size: cover;    
    .container {
        color: #212121;
        .header {
            text-align: left;
            h1 {
                padding-top: 200px;
                color: #1b1464;
                font-weight: 900;
                font-size: clamp(30px, 5vw, 48px);
            }
        }
        .illustration {
            position: relative;
            z-index: -1;
            text-align: right;
            top: 130px;
            svg {
                width: 270px;
                height: 390px;
            }
        }
        .content {
            margin-top: 30px;
            font-size: 1.1em;
            ul {
                width: auto;
                li {
                    list-style: none;
                    text-align: left;
                    width: auto;
                    padding-left: 0;
                    margin-left: 0;
                    padding: 15px 0 15px 0;
                    line-height: 40px;
                    a {
                        text-decoration: none;
                        color: #212121;
                    }
                    span {
                        color: rgba(187, 0, 79);
                        text-shadow: 2px 2px rgba(27, 20, 100, .25);
                        padding-right: 10px;
                    }
                }
                .borderBottom::before {
                    content: "";
                    width: 20px;
                    height: 5px;
                    position: absolute;
                    margin-top: 32px;
                    margin-left: 8px;
                    background: #bb004f;
                    border-radius: 15px;
                    transition: 1s;
                }
                li:hover {
                    cursor: pointer;
                    color: #bb004f;
                    transition: 1s;
                    a { color: #bb004f; }
                    .borderBottom::before {
                        width: 150px;
                        transition: 1s;
                    }
                }
            }
            button {
                border-radius: 15px;
                background:rgba(27, 20, 100, .1);
                border: rgba(27, 20, 100, .3);
            }
            button:hover {
                background: #bb004f;
                background-position: 200% 200%;
                color: #fafafa;
                transition: 1s;
            }
        }
    }
}
footer {
    background: linear-gradient(266deg, #bb004f 0%, #1b1464 100%);
    width: 100%;
    height: 178px;
    bottom: 100px;
    position: relative;
    bottom: 0;
    z-index: -1;
    h1 {
        font-size: 15px;
        line-height: 18px;
        padding-top: 145px;
        color: #fafafa;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
    }
}