.container {
    color: #fafafa;
    margin-top: 150px;
    .header {
        text-align: center;
        h1 {
            font-size: clamp(1.8em, 3vw, 2.4em);
            font-weight: 900;
        }
        .isBackground {
            font-weight: 900;
            color: rgba(255, 255, 255, .05);
            position: absolute;
            margin-left: -175px;
            text-transform: uppercase;
            z-index: -2;
            font-size: 5em;
        }
    }
    .illustration {
        position: relative;
        text-align: right;
        top: 130px;
        svg {
            width: 270px;
            height: 390px;
        }
    }
}
footer {
    background: #fafafa;
    width: 100%;
    height: 178px;
    bottom: 100px;
    h1 {
        font-size: 18px;
        line-height: 18px;
        padding-top: 145px;
        color: #5c0032;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
    }
}

@media only screen and (max-width: 768px) {
}