.bg {
    position: relative;
    z-index: 0;
    padding: 0px 0 -50px 0;
    min-height: 100vh;
    text-align: center;
    background-image: url('./../../../assets/contact.jpg');
    background-size: 100%;
    background-repeat: repeat;    
    .container {
        color: #fafafa;
        .header {
            text-align: center;
            h1 {
                padding-top: 200px;
                color: #1b1464;
                font-weight: 900;
                font-size: clamp(30px, 5vw, 48px);
            }
        }
        .illustration {
            position: relative;
            z-index: -1;
            text-align: right;
            margin-top: 100px;
            top: 130px;
            svg {
                width: 270px;
                height: 390px;
            }
        }
        .content {
            margin-top: 30px;
            form {
                margin-top: 50px;
                margin-bottom: 100px;
                font-family: muli, sans-serif;
                width: 100%;
                z-index: 0;
                position: relative;
                .btn {
                    margin-top: 15px;
                    background: rgba(255, 255, 255, .2);
                    border: 1px solid rgba(187, 0, 79, .5);
                    color: #bb004f;
                    font-weight: 500;
                }
                .btn:hover, .btn:active, .btn:focus {
                    background: rgba(27, 20, 100, .15);
                    border: 1px solid rgba(187, 0, 79, .1);
                    font-weight: 800;
                }
                textarea {
                    height: 180px;
                }
                .input-group, button {
                    box-shadow: 2px 2px 10px -4px #757575;
                }
            }
        }
    }
}
footer {
    background: linear-gradient(266deg, #bb004f 0%, #1b1464 100%);
    width: 100%;
    height: 178px;
    bottom: 100px;
    position: relative;
    bottom: 0;
    z-index: -2;
    h1 {
        font-size: 15px;
        line-height: 18px;
        padding-top: 145px;
        color: #fafafa;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
    }
}