.container {
    color: #fafafa;
    .header {
        text-align: center;
        h1 {
            color: #1b1464;
            font-weight: 900;
            font-size: clamp(30px, 5vw, 48px);
        }
    }
    .illustration {
        position: relative;
        z-index: -1;
        text-align: right;
        margin-top: -180px;
        top: 130px;
        svg {
            width: 270px;
            height: 390px;
        }
    }
    .content {
        margin-top: 30px;
        form {
            margin-top: 50px;
            margin-bottom: 100px;
            font-family: muli, sans-serif;
            width: 100%;
            z-index: 0;
            position: relative;
            .btn {
                margin-top: 15px;
                background: rgba(255, 255, 255, .2);
                border: 1px solid rgba(255, 255, 255, .5);
                color: #fafafa;
                font-weight: 500;
            }
            .btn:hover, .btn:active, .btn:focus {
                background: #fafafa;
                font-weight: bold;
                color: #5c0032;
            }
            textarea {
                height: 180px;
            }
        }
    }
}
footer {
    background: #fafafa;
    width: 100%;
    height: 178px;
    bottom: 100px;
    position: relative;
    bottom: 0;
    z-index: -2;
    h1 {
        font-size: 15px;
        line-height: 18px;
        padding-top: 145px;
        color: #5c0032;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
    }
}