
.bg {
    position: relative;
    z-index: 0;
    padding: 200px 0 200px 0;
    background-image: url('./../../../assets/about.png');
    background-size: cover;
    min-height: 100vh;
}

.container {
    color: #fafafa;
    font-family: muli, sans-serif;
    width: 100%;
    .header {
        h1 {
            padding-top: 25px;
            font-size: clamp(30px, 5vw, 48px);
            font-weight: 900;
        }
    }
    section {
        position: relative;
        z-index: -1;
        .illustration {
            position: relative;
            overflow: visible;
            svg {
                width: 85%;
                overflow: visible;
                
            }
            #Warstwa_3 {
                animation: mymove2 8s infinite;
            }
        
            #Warstwa_2 {
                animation: mymove 8s infinite;
            }
        }
        .description {
            line-height: 1.6;
            padding: 25px;
            font-weight: 300;
            font-size: 1em;
            p {
                padding-top: 20px;
            }
            span {
                font-weight: 800;
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    .illustration {
        margin-top: -150px;
        width: 50%;
        float: right;
        svg {
            float: right;
        }
    }
}

@media only screen and (max-width: 768px) {
    .illustration {
        text-align: center;
        width: 100%;
    }
    section {
        width: 100%;
        font-size: 0.9em;
        p {
            padding-left: 5px;
        }
    }
}

@keyframes mymove {
    0% { transform: skew(0, 0) }
    33% { transform: skew(-1deg, -1deg) }
    66% { transform: skew(1deg, 2deg) }
    100% { transform: skew(0, 0) }
  }

@keyframes mymove2 {
    0% { transform: scale(1) translate(0px, 0px) }
    50% { transform: scale(1.075) translate(-10px, -10px) }
    100% { transform: scale(1) translate(0px, 0px) }
}