nav {
    transition: 1s;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    font-family: muli, sans-serif;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    height: 50px;
        .hamburger {
            width: 40px;
            height: 35px;
            border-radius: 5px;
            margin-left: 10px;
            padding-top: 3px;
            .line {
                width: 70%;
                height: 2px;
                margin: 5px 7px 6px 6px;
                border-radius: 5px;
            }
        }
    
    ul {
        .nav-item {
            padding: 0vw 4vw 0vw 4vw;
            line-height: 32px;
            a {
                text-decoration: none;
                padding-top: 10px;
                color: #fafafa;
            }
        }
        .nav-item:hover, .active {
            font-weight: 700;
            border-bottom: 1px solid rgba(255, 255, 255, 0.75);
            a {
                border-bottom: none;
                transition: 0s;
                transition-delay: 0s;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    nav {
        ul {
            height: 50px;
        }
        .hamburger {
            display: none;
        }
    }
    .scrolled {
        transition: 1s;
        background-color: #fafafa;
        ul {
            .nav-item {
                line-height: 30px;
                a {
                    margin-top: 1px;
                    color: #5c0032;
                    font-weight: 500;
                }
                .active {
                    border-bottom: 4px solid #5c0032;
                    font-weight: 800;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    nav {
        background: #fafafa;
        border-bottom: none;
        .hamburger {
            display: inline;
            position: absolute;
            top: 8px;
            right: 15px;
            .line {
                background: #5c0032;
            }
        }
        ul {
            transition: 1s;
            position: relative;
            left: 0;
            text-align: right;
            top: 30px;
            width: calc(100vw);
            .nav-item {
                background: #fafafa;
                margin-top: -1px;
                font-size: 0.9em;
                position: relative;
                a {
                    color: #5c0032;
                    padding-right: 15px;
                    margin-top: 20px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    transition: 1.5s;
                    transition-delay: 0.5s;
                }
            }
        }
        .turned {
            transform: translateY(-350px);
            transition: 1s;
            .nav-item {
                a {
                    color: #fafafa;
                    transition: 0.5s;
                }
            }
        }
    }
}