nav {
    transition: 0.7s;
    border-bottom: 1px solid rgba(187, 0, 79, .1);
    font-family: muli, sans-serif;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 1;
        .hamburger {
            z-index: 1;
            width: 40px;
            height: 35px;
            border-radius: 5px;
            margin-left: 10px;
            padding-top: 3px;
            transition: 0.5s;
            .line {
                width: 70%;
                height: 2px;
                margin: 5px 7px 6px 6px;
                border-radius: 5px;
                transition: 1s;
            }
        }
        .ex {
            #two {
                background: #fafafa;
                transition: 0.1s;
            }
            #one {
                transform: rotate(45deg) translateY(11px);
                transition: 1s;
            }
            #three {
                transform: rotate(-45deg) translateY(-11px);
                transition: 0.75s;
            }
        }
    
    ul {
        .nav-item {
            padding: 0vw 4vw 0vw 4vw;
            line-height: 32px;
            a {
                text-decoration: none;
                padding-top: 10px;
                color: #bb004f;
            }
        }
        .active, .nav-item a:hover {
            border-bottom: 1px solid rgba(187, 0, 79, 0.75);
            font-weight: 700;
        }
        .nav-item:hover {
            cursor: pointer;
            font-weight: 700;
            a {
                border-bottom: 1px solid rgba(187, 0, 79, 0.75);
                transition: 0s;
                transition-delay: 0s;
            }
        }
    }
}
.scrolled {
    box-shadow: 1px 0px 10px -4px #757575;
}

@media only screen and (min-width: 992px) {
    nav {
        ul {
            height: 50px;
        }
        li {
            margin-left: -5px;
        }
        .hamburger {
            display: none;
        }
    }
    .scrolled {
        transition: 0.7s;
        background-color: #fafafa;
        ul {
            .nav-item {
                line-height: 30px;
                a {
                    margin-top: 1px;
                    color: #bb004f;
                    font-weight: 500;
                }
                .active, .nav-item a:hover {
                    border-bottom: 4px solid #bb004f;
                    font-weight: 700;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    nav {
        background: #fafafa;
        border-bottom: none;
        box-shadow: 1px 0px 10px -4px #757575;
        .hamburger {
            display: inline;
            position: absolute;
            top: 8px;
            right: 15px;
            .line {
                background: #bb004f;
            }
        }
        ul {
            transition: 1.25s;
            position: relative;
            left: -15px;
            text-align: right;
            top: 30px;
            width: calc(100vw + 15px);
            box-shadow: 0px 5px 10px -8px #757575;
            .nav-item {
                background: #fafafa;
                margin-top: -1px;
                font-size: 0.9em;
                a {
                    color: #bb004f;
                    padding-right: 30px;
                    margin-top: 20px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
        }
        .turned {
            margin-top: -100vh;
            transition: 2s;
            .nav-item {
                a {
                    color: #bb004f;
                    transition: 1s;
                }
            }
        }
    }
}