<div class="bg">
    <div class="aos" data-aos="fade-out" data-aos-duration="750" data-aos-easing="linear">
        <h1>My projects</h1>
        <swiper [config]="config" class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let p of PROJECTS">
                    <div class="card">
                        <div class="projectText">
                            <img src="{{ p.img }}">
                        </div>
                        <div class="content">
                            <h3>{{ p.title }}</h3>
                            <p class="description">{{ p.description }}</p>
                            <h4>Technologies/tools</h4>
                            <p class="technologies">{{ p.technologies }}</p>
                            <div class="icons">
                                <div class="live" *ngIf="p.live">
                                    <a href="{{ p.live }}"><i class="fas fa-play"></i><span> Live</span></a>
                                </div>
                                <div class="github">
                                    <a href="{{ p.github }}"><i class="fab fa-github"></i><span> Github</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card last">
                        <h1><a href="https://github.com/bartlomiejwyszecki?tab=repositories">MORE</a></h1>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </swiper>
    </div>
</div>