<div class="container">
    <div class="header">
        <h1>My projects</h1>
        <div class="isBackground">
            <h1>My projects</h1>
        </div>
    </div>
    <div class="content">
        <div class="project">
            <div class="img">
                <img src="./../../../assets/readme.jpg" alt="css-application" >
                <div class="icons">
                    <div class="live"><a href="https://bartlomiejwyszecki.github.io/CSS-Application"><i class="fas fa-play"></i></a></div>
                    <div class="github"><a href="https://github.com/bartlomiejwyszecki/CSS-Application"><i class="fab fa-github"></i></a></div>
                </div>
            </div>
            <div class="description">
                <h4>CSS-Application</h4>
                <h5>Css application with tools to create shapes, gradients, banners, and typography (in building).</h5>
                <a href="https://bartlomiejwyszecki.github.io/CSS-Application"><i class="fas fa-play"></i> Live</a>
            </div>
        </div>
        <div class="project">
            <div class="img">
                <img src="./../../../assets/art-gallery-1.png" alt="art gallery" >
                <div class="icons">
                    <div class="live"><a href="https://art-gallery-angular.herokuapp.com/home"><i class="fas fa-play"></i></a></div>
                    <div class="github"><a href="https://github.com/bartlomiejwyszecki/Art-gallery"><i class="fab fa-github"></i></a></div>
                </div>
            </div>
            <div class="description">
                <h4>Art-gallery</h4>
                <h5>Online art gallery where user can filter, sort, watch, and rate pieces of art.</h5>
                <a href="https://art-gallery-angular.herokuapp.com/home"><i class="fas fa-play"></i> Live</a>
            </div>
        </div>
        <div class="project">
            <div class="img">
                <img src="./../../../assets/Bez nazwy-1.jpg" alt="ease-words" >
                <div class="icons">
                    <div class="github"><a href="https://github.com/bartlomiejwyszecki/Easy_words"><i class="fab fa-github"></i></a></div>
                </div>
            </div>
            <div class="description">
                <h4>Easy-words</h4>
                <h5>Simple application where user have to choose if word is a verb, or a noun.</h5>
                <a href="https://github.com/bartlomiejwyszecki/Easy_words"><i class="fab fa-github"></i> Github</a>
            </div>
        </div>
        <div class="project">
            <h2><a href="https://github.com/bartlomiejwyszecki">MORE >></a></h2>
        </div>
    </div>
</div>