<swiper [config]="config" class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="card">
                <div class="projectText">
                    <h3>Project name</h3>
                </div>
                <div class="content">
                    <p>Example text</p>
                    <a>Readm more</a>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card">
                <div class="projectText">
                    <h3>Project name</h3>
                </div>
                <div class="content">
                    <p>Example text</p>
                    <a>Readm more</a>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card">
                <div class="projectText">
                    <h3>Project name</h3>
                </div>
                <div class="content">
                    <p>Example text</p>
                    <a>Readm more</a>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card">
                <div class="projectText">
                    <h3>Project name</h3>
                </div>
                <div class="content">
                    <p>Example text</p>
                    <a>Readm more</a>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card">
                <div class="projectText">
                    <h3>Project name</h3>
                </div>
                <div class="content">
                    <p>Example text</p>
                    <a>Readm more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>