.bg {
    position: relative;
    z-index: 0;
    padding: 200px 0 100px 0;
    background-image: url('./../../../assets/projects.png');
    background-size: 100%;
    background-repeat: repeat;
    min-height: 100vh;
    text-align: center;
    color: #212121;
    h1 {
        padding-top: 25px;
        font-size: clamp(30px, 5vw, 48px);
        font-weight: 900;
        color: #fafafa;
    }
    h3 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.4em;
        margin-bottom: 0px;
    }
    .description {
        font-size: 1em;
        padding-right: 30px;
    }
    h4 {
        font-size: 1.2em;
        font-weight: 700;
        margin-bottom: 0px;
    }
    .swiper-container {
        width: 100%;
        height: auto;
        z-index: 0;
        .swiper-pagination {
            margin-bottom: 100px;
        }
        .swiper-wrapper {
            padding-top: 100px;
            padding-bottom: 200px;
        }
        .swiper-slide {
            width: 700px;
            min-width: 50vw;
            max-width: 90vw;
            height: auto;
            min-height: 60vh;
            max-height: 85vh;
            text-align: left;
            box-shadow: 3px 3px 15px -2px #212121;
            font-size: 0.85em;
          }
    }
    .card {
        position: relative;
        background: #fafafa;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        transition: 0.5s;
        .content {
            width: 100%;
            padding-left: 30px;
            box-sizing: border-box;
            h3, h4, .icons {
                padding: 10px 0 5px 0;
            }
            a {
                display: inline-block;
                margin: 5px 15px 30px 0px;
                padding: 8px 15px 8px 15px;
                text-decoration: none;
                border: 1px solid #bb004f;
                color: #bb004f;
                font-weight: 600;
                transition: 0.5s;
                box-shadow: 5px 5px #1b1464;
                span {
                    padding-left: 5px;
                }
            }
            a:hover {
                color: #fafafa;
                background: #bb004f;
                transition: 0.5s;
                box-shadow: 3px 3px #1b1464;
            }
            .icons {
                display: flex;
                flex-wrap: wrap;
            }
        }
        .projectText {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                margin-top: 3%;
                margin-bottom: 20px;
                width: 85%;
                max-height: 40vh;
                border-radius: 10px;
                box-shadow: 2px 2px 10px -3px #757575;
                filter: brightness(90%);
            }
        }
    }
    .card:hover {
        background: #f5f5f5;
        transition: 0.5s;
    }
    .last {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: clamp(3em, 8vw, 4em);
            a {
                text-decoration: none;
                border: 1px solid #bb004f;
                color: #bb004f;
                font-weight: 600;
                transition: 0.5s;
                box-shadow: 10px 10px #1b1464;
                padding: 30px;
            }
            a:hover {
                color: #fafafa;
                background: #bb004f;
                transition: 0.5s;
                box-shadow: 5px 5px #1b1464;
            }
        }
    }
}