@import url("https://use.typekit.net/ugl3qbi.css");

.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(250, 250, 250);
    z-index: 100;
    animation: hideDiv 10s 1;
    animation-delay: 6.5s;
    .dots {
        z-index: 101;
        text-align: center;
        line-height: 100vh;
        .dot {
            margin: 20px;
            display: inline-block;
            .hideOne {
                animation: hide 10s 1;
                animation-delay: 5.4s;
            }
            .hideTwo {
                animation: hide 10s 1;
                animation-delay: 6s;
            }
            .hideThree {
                animation: hide 10s 1;
                animation-delay: 6.6s;
            }
            .one, .two, .three {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: black;
                animation: jump 1.8s 3;
                background: #04012d;
            }
            .two {
                animation-delay: 0.6s;
            }
            .three {
                animation-delay: 1.2s;
            }
            .shadow {
                position: absolute;
                margin-top: 10px;
                margin-left: 2px;
                width: 20px;
                height: 10px;
                background: rgba(0, 0, 0, .9);
                border-radius: 50%;
                transform: scale(0.5, 0.1);
                filter: blur(10px);
                animation: shadow 1.8s 3;
            }
            .hideShadowOne {
                animation: hideShadow 10s 1;
                animation-delay: 5.4s;
            }
            .hideShadowTwo {
                animation: hideShadow 10s 1;
                animation-delay: 6s;
            }
            .hideShadowThree {
                animation: hideShadow 10s 1;
                animation-delay: 6.6s;
            }
            #two {
                animation-delay: 0.6s;
            }
            #three { animation-delay: 1.2s; 
            }
        }
    }
}

@keyframes jump {
    0% { transform: translateY(0); }
    33% { background: #32015b;}
    50% { transform: translateY(-100px); }
    66% { background: #5c0032; }
    100% { transform: translateY(0); }
}

@keyframes shadow {
    0% { transform: scale(0.5, 0.1) }
    50% { transform: scale(0.8, 0.5) }
    100% { transform: scale(0.5, 0.1) }
}

@keyframes hide {
    0% { transform: translateY(0) }
    10% { transform: translateY(-75vh) }
    100% { transform: translateY(-100vh )}
}

@keyframes hideShadow {
    0% { opacity: 1 }
    10% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes hideDiv {
    0% { 
        opacity: 1;
    }
    15% { 
        opacity: 0;
    }
    100% { opacity: 0; }
}