.animation {
    position: fixed;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    animation: bg 2.5s;
}

@keyframes bg {
    0% { background: #1b1464; };
    50% { background: #bb004f; opacity: 1;};
    100% { background: #1b1464; opacity: 0; }
}