<div class="loading" *ngIf="check === true">
    <div class="dots">
        <div class="dot">
            <div class="hideOne">
                <div class="one"></div>
            </div>
            <div class="hideShadowOne">
                <div class="shadow" id="one"></div>
            </div>
        </div>
        <div class="dot">
            <div class="hideTwo">
                <div class="two"></div>
            </div>
            <div class="hideShadowTwo">
                <div class="shadow" id="two"></div>
            </div>
        </div>
        <div class="dot">
            <div class="hideThree">
                <div class="three"></div>
            </div>
            <div class="hideShadowThree">
                <div class="shadow" id="three"></div>
            </div>
        </div>
    </div>
</div>