<app-animation></app-animation>

<app-navbar [current]="current" (clickedLink)="updateCurrentLink($event)"></app-navbar>

<app-sidebar></app-sidebar>

<div class="component introduction" #1 id="Home">
    <app-introduction></app-introduction>
</div>

<div class="component about" #2 id="About me">
    <app-about></app-about>
</div>

<div class="component" #3 id="My skills">
    <app-skills></app-skills>
</div>

<div class="component" #4 id="My projects">
    <app-projects></app-projects>
</div>

<div class="component" #5 id="Contact">
    <app-contact></app-contact>
</div>