<app-navbar [current]="current" (clickedLink)="updateCurrentLink($event)"></app-navbar>

<app-sidebar></app-sidebar>

<div class="space" style="padding-top: 50px;"></div>

<button class="btn">sadad</button>
<div class="component" style="margin-top: 10vw;" #1 id="About me">
    <app-about></app-about>
</div>

<div class="component" style="margin-top: 25vw" #2 id="My skills">
    <app-skills></app-skills>
</div>

<div class="component" style="margin-top: 25vw" #3 id="My projects">
    <app-projects></app-projects>
</div>

<div class="component" style="margin-top: 25vw" #4 id="Contact">
    <app-contact></app-contact>
</div>