.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 0, 11, .75);
    transition: 1s;
    z-index: 1;
}
.bg {
    transition: 1s;
    z-index: -1;
    background: none;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    color: #5c0032;
    height: 100vh;
    background: #fafafa;
    z-index: 9;
    transition: 1s;
}
.active {
    transition: 1s;
}
.button {
    transition: 0.5s;
    width: 30px;
    height: 90px;
    background: #fafafa;
    z-index: 9;
    position: relative;
    top: 30%;
    border-radius: 0 15px 15px 0;
    font-size: 0.8em;
    .toggle {
        transform: rotate(-90deg);
        position: relative;
        line-height: 130px;
        right: 2px;
        a {
            display: inline;
            font-weight: 500;
            cursor: pointer;
            i {
                display: inline;
                margin-left: 10px;
            }
        }
    }
}
.button:hover {
    transition: 0.5s;
    background: rgba(250, 250, 250, .8);
}

@media only screen and (min-width: 480px) {
    .sidebar {
        width: 360px;
    }
    .button {
        margin-left: 360px;
    }
    .active {
        transform: translateX(-360px);
    }
}

@media only screen and (max-width: 480px) {
    .sidebar {
        width: 300px;
    }
    .button {
        margin-left: 300px;
    }
    .active {
        transform: translateX(-300px);
    }
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
    .sidebar {
        width: 300px;
    }
    .button {
        margin-left: 300px;
    }
    .active {
        transform: translateX(-300px);
    }
}

@media only screen and (max-width: 330px) {
    .sidebar {
        width: 250px;
    }
    .button {
        margin-left: 250px;
    }
    .active {
        transform: translateX(-250px);
    }
}