<div class="background" [ngClass]="{'bg': toggle}">

</div>
<div class="sidebar" [ngClass]="{'active': toggle}">
    <div class="panel">
        <div class="photo"></div>
        <div class="description">
            <h3>Bartłomiej Wyszecki</h3>
            <h4>Front-end developer</h4>
        </div>
        <div class="profile">
            <div class="button" (click)="toggle = !toggle">
                <div class="toggle">
                    <a><span>PROFILE</span> <i class="fas fa-bars"></i></a>
                </div>
            </div>
            <h3>Profile</h3>
            <p>I am programming enthusiast in search of my first job as Front-end Developer. My strong suits are JavaScript, TypeScript and Angular, but I'm also open to work with React and other front-end technologies.</p>
        </div>
        <div class="details">
            <h3>Details</h3>
            <ul>
                <li><a><i class="far fa-envelope"></i><span>{{ mail }}</span></a></li>
                <li><a href="https://github.com/bartlomiejwyszecki"><i class="fab fa-github"></i><span>github.com/bartlomiejwyszecki</span></a></li>
                <li><a><i class="fas fa-mobile-alt"></i><span>{{ myPhone | phone }}</span></a></li>
            </ul>
        </div>
    </div>
</div>
