.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 0, 11, .8);
    transition: 1s;
    z-index: 2;
}
.bg {
    transition: 1s;
    z-index: -1;
    background: none;
}
.sidebar {
    font-family: muli, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    color: #5c0032;
    height: 100vh;
    background: #fafafa;
    z-index: 9;
    transition: 1s;
    font-size: 0.9em;
    .panel {
        color: #212121;
        .photo {
            border-radius: 50%;
            background: #212121;
            background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('./../../../assets/photo.png');
            -webkit-background-size: cover;
            box-shadow: 3px 3px 9px -2px #616161;
            background-size: cover;
            opacity: 0.9;
            background-size: cover;
            margin-left: auto;
            margin-right: auto;
        }
        .description {
            text-align: center;
            h3 {
                font-weight: 800;
                font-size: 1.3em;
            }
            h4 {
                text-transform: uppercase;
                font-size: 1em;
                font-weight: 300;
                margin-top: -5px;
            }
        }
        .profile {
            border-top: 1px dashed #bdbdbd;
            h3 {
                padding: 0px 0 0px 15px;
                margin-bottom: 5px;
                font-size: 1.2em;
                font-weight: 600;
            }
            p {
                padding: 5px 15px 5px 25px;
            }
        }
        .details {
            border-top: 1px dashed #bdbdbd;
            h3 {
                padding: 0px 0 5px 15px;
                margin-bottom: 5px;
                font-size: 1.2em;
                font-weight: 600;
            }
            ul {
                list-style: none;
                li {
                    margin-left: -15px;
                    padding: 5px 5px 10px 5px;
                    i {
                        font-size: 1.1em;
                    }
                    span {
                        margin-left: 10px;
                    }
                    a {
                        font-weight: 600;
                        text-decoration: none;
                        color: #212121;
                    }
                    a:hover {
                        color: #5c0032;
                        cursor: pointer;
                        transition: 0.1s;
                    }
                }
            }
        }
    }
}
.active {
    transition: 1s;
}
.button {
    transition: 0.5s;
    width: 30px;
    height: 90px;
    background: #fafafa;
    z-index: 9;
    position: fixed;
    top: 35%;
    border-radius: 0 15px 15px 0;
    font-size: 0.8em;
    cursor: pointer;
    .toggle {
        transform: rotate(-90deg);
        position: relative;
        line-height: 125px;
        a {
            display: inline;
            font-weight: 500;
            i {
                display: inline;
                margin-left: 10px;
            }
        }
    }
}
.button:hover {
    transition: 0.5s;
    background: rgba(250, 250, 250, .8);
}

@media only screen and (min-width: 480px) {
    .sidebar {
        width: 360px;
        .photo {
            width: 150px;
            height: 150px;
            margin-top: 35px;
            margin-bottom: 35px;
        }
        .description {
            margin-bottom: 35px;
        }
        .details, .profile {
            padding-top: 35px;
        }
    }
    .button {
        margin-left: 360px;
    }
    .active {
        transform: translateX(-360px);
    }
}

@media only screen and (max-width: 768px) {
    .panel {
        overflow: scroll;
    }
}

@media only screen and (max-width: 480px) {
    .sidebar {
        width: 300px;
        font-size: 0.8em;
        .photo {
            width: 120px;
            height: 120px;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        .description {
            margin-bottom: 25px;
        }
        .details, .profile {
            padding-top: 25px;
        }
    }
    .button {
        margin-left: 300px;
    }
    .active {
        transform: translateX(-300px);
    }
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
    .sidebar {
        width: 300px;
        .photo {
            width: 100px;
            height: 100px;
        }
    }
    .button {
        margin-left: 300px;
    }
    .active {
        transform: translateX(-300px);
    }
}

@media only screen and (max-width: 330px) {
    .sidebar {
        width: 250px;
    }
    .button {
        margin-left: 250px;
    }
    .active {
        transform: translateX(-250px);
    }
}