<div class="background" [ngClass]="{'bg': toggle}">

</div>
<div class="sidebar" [ngClass]="{'active': toggle}">
    <div class="panel">
        <div class="photo"></div>
        <div class="description">
            <h3>Bartłomiej Wyszecki</h3>
            <h4>Front-end developer</h4>
        </div>
        <div class="details">
            <h3>Details</h3>
            <ul>
                <li><a><i class="far fa-envelope"></i><span>bartlomiej.wyszecki2@gmail.com</span></a></li>
                <li><a><i class="fab fa-github"></i><span>github.com/bartlomiejwyszecki</span></a></li>
                <li><a><i class="fas fa-mobile-alt"></i><span>{{ myPhone | phone }}</span></a></li>
            </ul>
        </div>
    </div>
    <div class="button">
        <div class="toggle" (click)="toggle = !toggle">
            <a><span>TOGGLE</span> <i class="fas fa-bars"></i></a>
        </div>
    </div>
</div>
