<div class="bg">
    <div class="container" data-aos="fade-out" data-aos-duration="1000" data-aos-easing="linear">
            <h1>My skills</h1>
            <h2>FRONT-END</h2>
        <div class="content">
            <div class="icon">
                <a><i class="fab fa-html5"></i></a>
                <h5>HTML5</h5>
            </div>
            <div class="icon">
                <a><i class="fab fa-css3-alt"></i></a>
                <h5>CSS3</h5>
            </div>
            <div class="icon">
                <a><i class="fab fa-js"></i></a>
                <h5>JavaScript</h5>
            </div>
            <div class="icon" id="ts">
                <a>
                    <span class="iconify" data-icon="simple-icons:typescript" data-inline="false"></span>
                </a>
                <h5>TypeScript</h5>
            </div>
            <div class="icon">
                <a><i class="fab fa-angular"></i></a>
                <h5>Angular</h5>
            </div>
            <div class="icon">
                <a><i class="fab fa-sass"></i></a>
                <h5>SCSS</h5>
            </div>
            <div class="icon">
                <a><i class="fab fa-bootstrap"></i></a>
                <h5>Bootstrap</h5>
            </div>
            <div class="icon">
                <a><i class="fas fa-mobile-alt"></i></a>
                <h5>Responsive Web Design</h5>
            </div>
        </div>
        <h2>Tools</h2>
        <div class="content">
            <div class="icon">
                <a><i class="fab fa-git"></i></a>
                <h5>Git</h5>
            </div>
            <div class="icon" id="ts">
                <a>
                    <span class="iconify" data-icon="simple-icons:adobeillustrator" data-inline="false"></span>
                </a>
                <h5>Adobe Illustrator</h5>
            </div>
            <div class="icon" id="ts">
                <a>
                    <span class="iconify" data-icon="simple-icons:adobexd" data-inline="false"></span>
                </a>
                <h5>Adobe Xd</h5>
            </div>
        </div>
        <h2>BASIC KNOWLEDGE</h2>
        <div class="content">
            <div class="icon">
                <a><i class="fab fa-react"></i></a>
                <h5>React</h5>
            </div>
            <div class="icon">
                <a><i class="fab fa-node-js"></i></a>
                <h5>Node.js</h5>
            </div>
            <div class="icon" id="ts">
                <a>
                    <span class="iconify" data-icon="simple-icons:express" data-inline="false"></span>
                </a>
                <h5>Express</h5>
            </div>
        </div>
        <h2>WANT TO LEARN</h2>
        <div class="content">
            <div class="icon" id="ts">
                <a>
                    <span class="iconify" data-icon="simple-icons:mongodb" data-inline="false"></span>
                </a>
                <h5>MongoDB</h5>
            </div>
            <div class="icon" id="ts">
                <a>
                    <span class="iconify" data-icon="file-icons:webgl" data-inline="false"></span>
                </a>
                <h5>WebGL</h5>
            </div>
        </div>
    </div>
</div>