.bg {
    position: relative;
    z-index: 0;
    padding: 200px 0 200px 0;
    min-height: 100vh;
    text-align: center;
    background-image: url('./../../../assets/skills.jpg');
    background-size: cover;
    .container {
        color: #fafafa;
        h1 {
            color: #1b1464;
            font-weight: 900;
            font-size: clamp(30px, 5vw, 48px);
        }
        h2 {
            color: #bb004f;
            text-transform: uppercase;
            font-weight: 300;
            padding: 125px 0 25px 0px;
            font-size: clamp(18px, 4vw, 36px);
        }
        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .icon {
                border: 1px solid rgba(27, 20, 100, .5);
                border-radius: 15px;
                text-align: center;
                line-height: 130px;
                color: #1b1464;
                width: 150px;
                height: 180px;
                font-size: 100px;
                margin: 25px;
                transition: 0.5s;
                box-shadow: 3px 3px 10px -4px #757575;
                .iconify {
                    font-size: 85px;
                    margin-bottom: 25px;
                    z-index: -1;
                    position: relative;
                }
                h5 {
                    margin-top: 10px;
                    font-size: 15px;
                    color: #bb004f;
                    text-transform: uppercase;
                    font-weight: 400;
                    transition: 0.2s;
                }
            }
            #ts {
                h5 {
                    margin-top: 1px;
                }
            }
            .icon:hover {
                background: rgba(27, 20, 100, .15);
                border: 1px solid rgba(27, 20, 100, .1);
                color: rgb(4, 1, 45);
                cursor: pointer;
                transition: 0.5s;
                .iconify {
                    z-index: 0;
                }
                h5 {
                    font-weight: 700;
                }
            }
        }
    }
}
