@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    height: 100vh;
    background-image: radial-gradient(circle at 100%, #32015b -25%, #5c0032 50%, #04012d 125%);
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
