@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    height: 100vh;
    /*background: linear-gradient(225deg, rgba(80,16,112), rgba(255,0,0,0) 100%),
            linear-gradient(125deg, rgba(0,35,92), rgba(0,255,0,0) 100%),
            linear-gradient(360deg, rgba(41,1,116), rgba(0,0,255,0) 100%); */
    background-image: radial-gradient(circle at 100%, #32015b -25%, #5c0032 50%, #04012d 125%);
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
